.todo-container{
    background-image: linear-gradient(to bottom, #f3f6fc, #d8dae8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
